.welcome {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 0 #aaa;
}

.title {
  margin-left: 30px;
  line-height: 50px;
  font-size: 22px;
  font-weight: bold;
}
.admin {
  margin-right: 30px;
}
.admin span {
  margin: 0 8px 0 2px;
}
.admin i {
  cursor: pointer;
}
